.article-card.horizontal .image-container {
  height: 155px;
}

.article-card .image-container {
  background-size: contain;
}

.site-branding a {
  text-decoration: none;
}

.pagination-wrapper a, .pagination-wrapper .page-numbers {
  color: #FFF;
}

.page-numbers {
  background: #c90229;
}

.page-numbers.current {
  background: #363940;
}

ins.adsbygoogle { 
  background: transparent !important; 
}

.wp-block-image, .lwptoc, .blocks-gallery-item, .wp-block-table {
  border: 2px solid;
  border-radius: 5px;
  padding: 15px;
  border-color: #e2e2e8;
  background: #f7f7fa;
}

.wp-block-image figcaption { 
  text-align: center;
  margin-bottom: 0.0em;
}

.wp-block-embed-twitter .twitter-tweet {
    display: block;
    margin-left: auto;
    margin-right: auto 
}

.attachmentid-23949 .entry-content .attachment {
  display: none;
}

.attachment .recent-articles-container {
  display: None;
}

.attachment .h2 {
  display: None;
}

.attachment .author-card {
  display: None;
}

kbd {
  display: inline-block;
  margin: 0 .1em;
  padding: .1em .6em;
  font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
  font-size: 11px;
  line-height: 1.4;
  color: #242729;
  text-shadow: 0 1px 0 #FFF;
  background-color: #e1e3e5;
  border: 1px solid #adb3b9;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(12,13,14,0.2),0 0 0 2px #FFF inset;
  white-space: nowrap;
}

.wp-block-tag-cloud .tag-cloud-link {
  padding: 2px;
  border: 2px solid;
  border-color: #e2e2e8;
  background: #f7f7fa;
  border-radius: 5px;
  margin: 0 5px 5px 0;
  text-decoration: none;
  display: inline-block;
}
